.DiaryEditor {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.DiaryEditor h2 {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 0.8rem;
}
.DiaryEditor input {
  width: 300px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.DiaryEditor textarea {
  width: 300px;
  height: 150px;
  margin-bottom: 5px;
}
.DiaryEditor select {
  width: 50px;
  text-align: center;
  margin: 10px;
  padding-bottom: 2px;
}
.DiaryEditor button {
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 0 auto;
}
.DiaryList {
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
}
.DiaryList h2 {
  text-align: center;
}
.DiaryItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 10px;
}
.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.DiaryItem .date {
  color: gray;
}
.DiaryItem .content {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
